ul li{
    background-color: black;
    color: white;
    list-style-type: none;
    display: inline-block;
    align-content: center;
    text-align: center;
    font-size: medium;
}

ul li:hover {
    background-color: red;
    color: white;
}

.maintext {
    background-color: lightblue;
}

h1{
    text-align: center;
    font-size: xx-large;
}

table {
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
