ul li{
    background-color: black;
    color: white;
    list-style-type: none;
    display: inline-block;
    width: 12%;
    align-content: center;
    text-align: center;
    font-size: medium;
}

ul li:hover {
    background-color: red;
    color: white;
}

.maintext {
    background-color: lightblue;
}

.header h1{
    font-size: large;
    text-align: center;
}

.header {
    height: fit-content;
    background-color: yellow;
}