ul li{
    background-color: black;
    color: white;
    list-style-type: none;
    display: inline-block;
    width: 10%;
    align-content: center;
    text-align: center;
    font-size: large;
}

ul li:hover {
    background-color: red;
    color: white;
}

.maintext {
    background-color: lightblue;
}

h1{
    text-align: center;
    font-size: xx-large;
}

.tablebkgrd {
    background-color: greenyellow;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

#logohistory {
    width: 400px;
    height: 400px;
}

.mainparagraph {
    font-size: large;
    font-style: italic;
}

a {
    color: blue;
}

.funfact {
    background-color: gray;
}

@media only screen and (max-width: 600px) {
    .tablebkgrd {
        background-color: orange;
    }
}
